[submodule "chlover-engine/lib/glfw"]
	path = chlover-engine/lib/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
[submodule "chlover-engine/lib/glad2"]
	path = chlover-engine/lib/glad2
	url = https://github.com/Dav1dde/glad.git
	branch = glad2
